@font-face {
    font-family: Metallica;
    src: url(/Metallica.ttf);
}

@font-face {
    font-family: metal;
    src: url(/metal_lord.ttf);
}

@font-face {
    font-family: Elektra;
    src: url(/Elektra.ttf);
}

@font-face {
    font-family: OldGate;
    src: url(/OldGateLaneNF.ttf);
}

@font-face {
    font-family: Type;
    src: url(/Type.ttf);
}

@font-face {
    font-family: Type2;
    src: url(/Type2.ttf);
}